<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex">
      <div class="container position-relative">
        <div class="row d-flex justify-content-start position-relative">
          <div class="col-lg-6 text-left">
            <h2>Services</h2>
            <p>Description des services proposés</p>
            <nav>
              <ol>
                <li><a routerLink="/">Home</a></li>
                <li>Services</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <div class="pages-images">
              <img
                alt="Image de présentation de la page services"
                class="img-fluid"
                ngSrc="{{ 'assets/images/services.jpg' }}"
                width="300"
                height="300" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (sections$ | async; as sections) {
    @for (section of sections; track section.uname) {
      @if (section.uname === SectionName.services) {
        <app-section-services [section]="section"></app-section-services>
      }
    }
  }
</main>
