@if (sections$ | async; as  sections) {
  @for (section of sections; track section.uname) {
    @switch (section.uname) {
      @case (SectionName.hero) {
        <app-section-hero [section]="section"></app-section-hero>
      }
      @case (SectionName.services) {
        <app-section-services [section]="section"></app-section-services>
      }
      @case (SectionName.whyus) {
        <app-section-whyus [section]="section"></app-section-whyus>
      }
      @case (SectionName.action) {
        <app-section-call-to-action [section]="section"></app-section-call-to-action>
      }
      @case (SectionName.project) {
        @if((section.payload?.values)!.length !== 0) {
          <app-section-portfolio [section]="section" [limit]="3"></app-section-portfolio>
        }
      }
      @case (SectionName.blog) {
        @if((section.payload?.values)!.length !== 0) {
          <app-section-blog [section]="section" [limit]="3"></app-section-blog>
        }
      }
      @case (SectionName.stats) {<app-section-stats [section]="section"></app-section-stats>}
    }
  }
  <!--================ Contact Section =================-->
  <app-section-contacts></app-section-contacts>
  <!--================ End Contact Section =================-->
}
