<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex">
      <div class="container position-relative">
        <div class="row d-flex justify-content-start position-relative">
          <div class="col-lg-6 text-left">
            <h2>Contacts</h2>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <div class="pages-images">
              <img alt="" class="img-fluid" src="{{ 'assets/images/common-page.jpg' }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-section-contacts></app-section-contacts>
</main>
