<section class="the-main-service text-center section" id="services">
  <div class="section-header">
    <h2>{{section.title}}</h2>
    <p>{{section.subTitle}}</p>
  </div>
  <div class="container">
    <div class="row our-offer-items less-carousel">
      <ng-container *ngFor="let value of section.payload.values">
        <div class="col-md-4 col-sm-12 equal-height">
          <div class="item">
            <i class="{{value.picture}}"></i>
            <h4>{{value.title}}</h4>
            <p>{{value.content}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
