<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex">
      <div class="container position-relative">
        <div class="row d-flex justify-content-start position-relative">
          <div class="col-lg-6 text-left">
            <h2>Latest Blogs</h2>
            <div class="row d-flex justify-content-center">
              <div class="col-lg-12 text-center">
                <div class="search-form">
                  <form action="#">
                    <input placeholder="Search..." type="text" />
                    <button><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <div class="pages-images">
              <img
                alt="Image de présentation de la page blog"
                class="img-fluid"
                ngSrc="../../../assets/images/blogs.jpg"
                height="456"
                width="534"
                priority />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (sections$ | async; as sections) {
    @for (section of sections; track section.uname) {
      @if (section.uname === SectionName.blog) {
        <app-section-blog [section]="section" [isFullPage]="true"></app-section-blog>
      }
    }
  }
</main>
