<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex">
      <div class="container position-relative">
        <div class="row d-flex justify-content-start position-relative">
          <div class="col-lg-6 text-left">
            <h2>Projects / Portfolio</h2>
            <p>Je présente ici une liste non hexaustive des projets sur lesquelles j'ai travaillé.</p>
          </div>
          <div class="col-lg-6 d-flex justify-content-end">
            <div class="pages-images">
              <img
                alt="Image de présentation de la page portfolio"
                class="img-fluid"
                ngSrc="{{ 'assets/images/common-page.jpg' }}"
                height="456"
                width="534"
                priority
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if (sections$ | async; as sections) {
    @for (section of sections; track section.uname) {
      @if (section.uname === SectionName.project) {
        <app-section-portfolio [section]="section" [isFullPage]="true"></app-section-portfolio>
      }
    }
  }
</main>
