@if(isFullPage) {
  <section class="{{ section.uname }} section" id="{{ section.uname }}">
    <div class="container">
      <div class="portfolio-isotope">
        <div>
          <ul class="portfolio-flters">
            <li (click)="onFilter('*')" [ngClass]="{ 'filter-active': filterSelected === '*' }">All</li>
            @for (category of section.payload!.values! | groupCategory; track $index) {
              <li (click)="onFilter(category)" [ngClass]="{ 'filter-active': filterSelected === category }">
                {{ category }}
              </li>
            }
          </ul>
        </div>

        <div class="row gy-4 portfolio-container">
          @for (value of section.payload!.values! | limit : limit | filterBy : 'category' : filterSelected; track $index) {
            @if (value | parsePortfolio; as portfolio) {
              <div class="col-xl-4 col-md-6 portfolio-item" @thumbState>
                <div class="portfolio-wrap">
                  <a class="glightbox" data-gallery="portfolio-gallery-app" routerLink="{{ portfolio.slug }}">
                    <img
                      alt="{{ portfolio.picturesProject[0].alt }}"
                      class="img-fluid"
                      ngSrc="{{ getRelativePath(portfolio.picturesProject[0].src ?? '') }}"
                      height="768"
                      width="1024"
                      priority
                    />
                  </a>
                  <div class="portfolio-info">
                    <h4>
                      <a routerLink="{{ portfolio.slug }}" title="More Details">{{ portfolio.title }}</a>
                    </h4>
                    <div class="project-details-aside">
                      <div class="portfolio-details">
                        <ul>
                          <li class="d-flex justify-content-between">
                            <strong>Category</strong>
                            <span>{{ portfolio.category }}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <strong>Client</strong>
                            <span>{{ portfolio.client }}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <strong>Project date</strong>
                            <span>{{ portfolio.dateProjet | date }}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <strong>Project URL</strong>
                            <a href="javascript:void(0)">{{ portfolio.urlProjet }}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="project-btn">
                        <a class="fill-btn" routerLink="{{ portfolio.slug }}">Détail du project</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </section>
} @else {
  <section class="{{ section.uname }} section" id="{{ section.uname }}">
    <div class="container">
      <div class="section-header">
        <h2>{{ section.title }}</h2>
        <p>
          {{ section.subTitle }}.
          @if (section.redirectUrls?.length !== 0) {
            @for (button of section.redirectUrls; track $index) {
              <a class="btn-get-started mx-1" routerLink="{{ button.path }}">{{ button.label }}</a>
            }
          }
        </p>
      </div>

      <div class="portfolio-isotope">
        <div class="row gy-4 portfolio-container">
          @for (value of section.payload!.values! | limit : limit; track $index) {
            @if (value | parsePortfolio; as portfolio) {
              <div class="col-xl-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                  <a
                    class="glightbox"
                    data-gallery="portfolio-gallery-app"
                    routerLink="{{ RouteName.projects.value + '/' + portfolio.slug }}">
                    <img
                      alt="{{ portfolio.picturesProject[0].alt }}"
                      class="img-fluid"
                      ngSrc="{{ getRelativePath(portfolio.picturesProject[0].src ?? '') }}"
                      height="768"
                      width="1024"
                      priority
                    />
                  </a>
                  <div class="portfolio-info">
                    <h4>
                      <a routerLink="{{ RouteName.projects.value + '/' + portfolio.slug }}" title="More Details">{{ portfolio.title }}</a>
                    </h4>
                    <div class="project-details-aside">
                      <div class="portfolio-details">
                        <ul>
                          <li class="d-flex justify-content-between">
                            <strong>Category</strong>
                            <span>{{ portfolio.category.title }}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <strong>Client</strong>
                            <span>{{ portfolio.client }}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <strong>Project date</strong>
                            <span>{{ portfolio.dateProjet | date }}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <strong>Project URL</strong>
                            <a href="javascript:void(0)">{{ portfolio.urlProjet }}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="project-btn">
                        <a class="fill-btn" routerLink="{{ RouteName.projects.value + '/' + portfolio.slug }}">Détail du project</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </section>
}
