<section class="contact-section section" id="contact">
  <div class="container">
    <div class="section-header">
      <h2>Me contacter</h2>
      <p>Réponse sous les 24h</p>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="contact-form-box contact-form contact-form-3">
          <div class="form-container-box">
            <form action="/" class="contact-form form" id="ajax-contact" method="post">
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-input-box">
                      <input
                        class="form-control"
                        data-error="Name is required."
                        id="name" name="name"
                        placeholder="Name*"
                        required="required" type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-input-box">
                      <input
                        class="form-control"
                        data-error="Valid email is required."
                        id="email"
                        name="email"
                        placeholder="Email*"
                        required="required" type="email">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group form-input-box">
                      <input
                        class="form-control"
                        name="subject"
                        placeholder="Subject"
                        required="required"
                        type="text">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group form-input-box">
                    <textarea
                      class="form-control"
                      data-error="Please, leave us a message."
                      id="message"
                      name="message"
                      placeholder="Write Your Message*" required="required"
                      rows="7"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button data-text="Send Message" type="submit">Envoyer le message</button>
                  </div>
                  <div class="messages">
                    <div
                      class="alert alert alert-success alert-dismissable alert-dismissable hidden"
                      id="msgSubmit">
                      <button
                        aria-hidden="true"
                        class="close"
                        data-dismiss="alert"
                        type="button">&times;
                      </button>
                      Thank You! your message has been sent.
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="contact-information-box-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="single-contact-info-box">
                <div class="contact-info">
                  <h6>Email :</h6>
                  <p>cedric.badjah@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-contact-info-box">
                <div class="contact-info">
                  <h6>Téléphone :</h6>
                  <p>06 46 60 34 61</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-contact-info-box">
                <div class="contact-info">
                  <h6>Période :</h6>
                  <p>Du lundi au Vendredi : 9h00 à 18h00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
